body{
    background-color: azure;
}
h1{
    text-align: center;
}
.mynav ul{
    list-style-type: none;
    background-color: rgb(48, 44, 44);
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}
.mynav a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.mynav a:hover{
    background-color: black;
}
.mynav li{
    float: left;
}
.nav{
    list-style-type: none;
    text-align: center;

}    
.home{
    background-color: rgb(214, 238, 238);
    backdrop-filter: blur(70px);
    border-radius: 10px;
     padding: 10px;
      margin-bottom: 20px;
      width: calc(100% - 40px); 
          
}

#articlesContainer {
    background-color: #ADD8E6;
  backdrop-filter: blur(70px);
  border-radius: 10px;
  padding: 20px;
}
.info-box {
    background-color: #32b7e4;
  backdrop-filter: blur(70px);
  border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    width: calc(100% - 40px); 
           margin-left: 20px; 
           margin-right: 20px;
}
@media screen and (max-width: 768px) {
    .home {
      padding: 10px;
    }
    img{
        max-width: 100%; 
        max-height: auto;
    }
    video{
        max-width: 100%; 
        max-height: 150px;
    }
    .info-box {
        padding: 10px;
    }
}
.vertical-text {
    writing-mode: vertical-rl; 
    text-orientation: mixed;
    white-space: nowrap;
    align-items: center; 
    justify-content: center;
}
textarea {
    width: 100%;
    height: 100px; 
    resize: vertical;
    box-sizing: border-box; 
    margin-bottom: 10px;
    border-radius: 4px;
}
label {
    display: inline-block;
    width: 100px; 
  }
input[type="text"],
input[type="email"]{
    padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  width: calc(50% - 110px);
}